body {
  position: absolute;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#paddle {
  border-radius: 8px;
  box-shadow: 3px 3px 8px darkgray;
}

#start-screen,
#gameover-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(170deg, #ffffad, yellow);
  box-shadow: 5px 5px 20px darkgray;
  padding: 20px 60px;
  border-radius: 20px;
  border: 8px dashed red;
}

#gameover-screen {
  visibility: hidden;
}

#start-screen>h2,
#gameover-screen>h2 {
  font-size: 40px;
  color: red;
  margin: 4px;
  text-align: center;
}

#start-screen>h1 {
  font-size: 80px;
  color: red;
  margin: 4px;
}

#start-button,
#retry-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
  font-size: 20px;
  color: red;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

td {
  empty-cells: show;
  table-layout: fixed;
  height: 50px;
  margin: 4px;
  border-radius: 8px;
  text-align: center;
  font-size: 30px;
  box-shadow: 3px 3px 10px white;
}

.block {
  box-shadow: 3px 3px 10px darkgray;
  background-image: linear-gradient(170deg, #ffeac2, orange);
  color: red;
}

.block-hard {
  box-shadow: 3px 3px 10px darkgray;
  background-image: linear-gradient(170deg, rgb(184, 147, 147), brown);
  color: red;
}

table {
  table-layout: fixed;
}

#level2x4>table,
#level4x8>table,
#level8x8>table {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
  width: 80%;
}

#level2x4,
#level4x8,
#level8x8 {
  position: absolute;
  visibility: hidden;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#level2x4 {
  background-image: url("bg1.png");
}

#level4x8 {
  background-image: url("bg2.png");
}

#level8x8 {
  background-image: url("bg1.png");
}

#timer {
  color: red;
  font-size: 80px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
}

#dashboard {
  position: absolute;
  bottom: 0px;
  color: white;
}